@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
.u-mb-l {
  margin-bottom: 40px; }

.u-mb-m {
  margin-bottom: 20px; }

.u-mb-s {
  margin-bottom: 10px; }

.hidden {
  display: none !important; }

.toggle-main {
  margin-left: 0; }

.toggle-header {
  transform: translateX(-38.5rem); }

.toggle-button {
  transform: rotate(180deg); }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/* Breaking it down
We start with box-sizing. I just flat out reset all elements and pseudo-elements to use box-sizing: border-box. */
*,
*::before,
*::after {
  box-sizing: border-box; }

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

/* font imports */
/* root values */
:root {
  --color-primary: hsl(237, 18%, 59%);
  --color-secondary: hsl(345, 95%, 68%);
  --color-secondary--highlight: hsl(345, 95%, 78%);
  --color-tertiary-desaturated: hsl(236, 21%, 26%);
  --color-tertiary-dark: hsl(235, 16%, 14%);
  --color-tertiary-very-dark: hsl(234, 17%, 12%);
  --animation-short: all 0.15s ease-out;
  --animation-medium: all 0.25s ease-out;
  --animation-long: all 0.45s ease-out;
  --cell-size: 15rem;
  --mark-size: calc(var(--cell-size) * 0.7); }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.4rem; }

.header {
  background-position: center;
  background-size: cover;
  background-blend-mode: color; }

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: url("/img/pattern-hills.svg") no-repeat bottom/contain, url("/img/bg-stars.svg") repeat top/contain;
  background-color: var(--color-tertiary-dark); }

.wrapper,
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header {
  opacity: 0; }

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .player-name > *:not(:last-child) {
    margin-bottom: 1rem; }
  .player-name input[type="text"] {
    padding: 1rem 2rem;
    border: none; }

.logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1rem; }

.button {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: var(--animation-short);
  border: 2px solid transparent; }
  .button:hover {
    background-color: transparent; }
  .button--start, .button--submit {
    color: white;
    background-color: var(--color-secondary); }
    .button--start:hover, .button--submit:hover {
      border: 2px solid var(--color-secondary); }
  .button--select {
    background-color: white;
    color: var(--color-tertiary-very-dark); }
    .button--select:hover {
      border: 2px solid white;
      color: white; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center; }
  .grid__cell {
    border: 2px solid white;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--mark-size);
    color: white;
    position: relative;
    cursor: pointer; }
    .grid__cell.x, .grid__cell.o {
      cursor: not-allowed; }
    .grid__cell:first-child, .grid__cell:nth-child(2), .grid__cell:nth-child(3) {
      border-top: none; }
    .grid__cell:nth-child(3n + 1) {
      border-left: none; }
    .grid__cell:nth-child(3n) {
      border-right: none; }
    .grid__cell:nth-child(7), .grid__cell:nth-child(8), .grid__cell:nth-child(9) {
      border-bottom: none; }

.grid__cell.x::before, .grid__cell.x::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: whitesmoke;
  position: absolute; }

.grid__cell.x::before {
  transform: rotate(45deg); }

.grid__cell.x::after {
  transform: rotate(-45deg); }

.grid__cell.o::before {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  position: absolute;
  border: calc(var(--mark-size) * 0.15) solid whitesmoke;
  border-radius: 50%; }

.grid.x .grid__cell:not(.x):not(.o):hover::before, .grid.x .grid__cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  position: absolute;
  background-color: var(--color-primary); }

.grid.x .grid__cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg); }

.grid.x .grid__cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg); }

.grid.o .grid__cell:not(.x):not(.o):hover::before {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  position: absolute;
  border: calc(var(--mark-size) * 0.15) solid var(--color-primary);
  border-radius: 50%; }

.player-name input[type="submit"] {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: var(--animation-short);
  border: 2px solid transparent;
  color: white;
  background-color: var(--color-secondary); }
  .player-name input[type="submit"]:hover {
    background-color: transparent;
    border: 2px solid var(--color-secondary); }

.scoreboard {
  display: flex;
  margin-bottom: 2rem; }

.player1,
.player2 {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700; }

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-tertiary-very-dark); }
  .winning-message__text {
    font-size: 3.6rem;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 0.5rem; }
  .winning-message.show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
